{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Django Blog</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400"
        rel="stylesheet">
        <link href="{% static '/css/base.css' %}" rel="stylesheet"> 
    </head>
    <body>
        <header>
            <div class="nav-left">
              <h1><a href="{% url 'home' %}">Django blog</a></h1>
            </div>
            <div class="nav-right">
                {% if user.is_authenticated %}
                    <p> Hi {{ user.username }} | </p>
                    <p><a href="{% url 'logout' %}"> Log Out</a></p>
                {% else %}
                    <a href="{% url 'login' %}">LogIn | </a>
                    <a href="{% url 'singup' %}"> SingUp | </a>
                {% endif %}
                <a href="{% url 'new_post' %}"> + New Blog Post</a>
            </div>
        </header>
        <div>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>