<!-- templates/post_detail.html -->
{% extends 'base.html' %}
{% block content %}
    <div class="post-entry">
        <h1>{{ post.title }}</h1>
        <h2>Author: {{ post.author }}</h2>
        <p style="color: black">{{ post.body }}</p>
        <p style="color: blue">{{ post.time }}</p>
    </div>
    <a href="{% url 'edit_post' post.pk %}">+ Edit Post</a>
    <a href="{% url 'delete_post' post.pk %}">- Delete Post</a>
{% endblock content %}