<!-- templates/singup.html -->
{% extends 'base.html' %}

{% block content %}
    <h2>Sing Up</h2>
    <form action='' method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sing Up</button>
    </form>
{% endblock content %}